{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "globals": {
    "ROOTURL": true,
    "db": true
  },
  "rules": {
    "no-console": 0,
    "no-shadow": 0,
    "no-unused-vars": 0,
    "semi": [2, "never"],
    "indent": [2, "tab"],
    "no-trailing-spaces": 2,
    "no-irregular-whitespace": 2,
    "comma-dangle": [0, "always-multiline"],
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0, "maxBOF": 0 }],
    "max-len": [2, { "code": 160, "ignoreUrls": true }],
    "padded-blocks": [
      2,
      { "blocks": "always", "classes": "always", "switches": "always" },
      { "allowSingleLineBlocks": true }
    ]
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "endOfLine": "auto",
    //     "tabWidth": 2,
    //     "semi": false,
    //     "trailingComma": "es5",
    //     "singleQuote": true,
    //     "printWidth": 145
    //   }
    // ]
  }
}
